.header {
  padding: var(--nav-padding);
  padding-top: 6rem;
  padding-bottom: 12rem;
}

.pirple {
  color: var(--pirple);
}
.header > svg {
  z-index: -1;
}

.btn {
  border-radius: 50px;
  border: none;
  background: none;
  padding: 0.8rem 2.5rem;
  border: 2px solid var(--pirple);
  font-size: 16px;
  cursor: pointer;
}
.btn:nth-child(2) {
  margin-left: 1rem;
}
.btn-fill {
  background-color: var(--pirple);
  color: var(--white);
  font-weight: 300;
  letter-spacing: 1px;
}

@media (min-width: 851px) {
  .header {
    display: flex;
  }
  .header > svg {
    position: absolute;
    width: 600px;
    right: 0px;
  }
  .hero {
    max-width: 50vw;
    margin-top: 3rem;
  }
  .hero-title,
  .hero-description {
    margin-bottom: 1rem;
  }
  .hero-description {
    margin-bottom: 4rem;
    max-width: 600px;
  }
}
@media (max-width: 1050px) {
  .header > svg {
    position: absolute;
    width: 450px;
    right: 0;
    top: 28%;
  }
  .hero-description {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 850px) {
  .header {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .header > svg {
    width: 80vw;
    position: absolute;
    right: 0px;
    top: 15%;
    opacity: 0.1;
    z-index: -1;
  }
  .hero {
    text-align: center;
  }
  .hero-title {
    max-width: 500px;
    margin: auto;
  }
  .hero-title,
  .hero-description {
    margin-bottom: 2.5rem;
  }
  .hero-description {
    margin-bottom: 4rem;
  }
  .btn {
    padding: 0.8rem 2.5rem;
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .header > svg {
    width: 100vw;
    top: 10%;
    margin: 0;
  }
  .hero-title {
    max-width: 400px;
  }
  .hero-title,
  .hero-description {
    margin-bottom: 1.5rem;
  }
  .hero-description {
    margin-bottom: 2.5rem;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 13px;
  }
  .btn:nth-child(2) {
    margin-left: 0.5rem;
  }
}
