.services {
  background-color: var(--light-grey);
  padding: var(--nav-padding);
  text-align: center;
}
.services svg {
  width: 100px;
  fill: var(--pirple);
}
.services > h3 {
  margin: 3rem 0 6rem 0;
}
.tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  justify-content: center;
  align-content: center;
}
.tool {
  padding: 3rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tool > h4 {
  margin: 0.5rem;
}

.tool > p {
  max-width: 450px;
}

.services #translator {
  width: 100px;
}
.services #encyclopedia {
  width: 78px;
}
.services #events {
  width: 65px;
}
.services #project_manager {
  width: 65px;
}

@media (max-width: 1050px) {
  .services svg {
    width: 100px;
  }
  .tool > p {
    max-width: 35vw;
  }
}

@media (max-width: 850px) {
  .services svg {
    width: 90px;
  }
  .tools {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  }
  .tool > p {
    max-width: 45vw;
  }
  .services > h3 {
    margin: 1rem 0 3rem 0;
  }
  .services #translator {
    width: 100px;
  }
  .services #encyclopedia {
    width: 70px;
  }
  .services #events {
    width: 60px;
  }
  .services #project_manager {
    width: 60px;
  }
}

@media (max-width: 550px) {
  .services svg {
    width: 75px;
  }
  .tool > p {
    max-width: 60vw;
  }
}
