.tasks {
  width: 80%;
  background-color: var(--dashboard-grey);
  padding: 2rem 2rem;
  overflow-y: scroll;
}
.tasks > h4 {
  margin-bottom: 1rem;
}

.tasks-container {
  background-color: var(--white);
  border: 1px solid black;
  padding: 2rem 1rem;
  overflow-y: scroll;
}
.tasks-container > div {
  margin: 1rem 0;
}
.addTask {
  transition: 0.3s ease;
}
.task,
.time,
.status,
.new-time,
.new-task,
.new-status {
  transition: 0.3s ease;
}

.labels,
.addTask,
.one-task {
  display: flex;
}
.labels > p {
  font-weight: bold;
}
.addTask > div,
.one-task > div {
  border: 1px solid black;
  padding: 0.7rem 0.7rem;
  border-radius: 10px;
}
.time,
.new-time {
  width: 17%;
  margin-right: 3%;
}
.task,
.new-task {
  width: 60%;
  margin-right: 3%;
}
.status,
.new-status {
  width: 17%;
}
.one-task > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-task > div:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.one-task > div:last-child > div > svg {
  fill: black;
  width: 16px;
  cursor: pointer;
}
.one-task > div:last-child > div:last-child > svg {
  fill: var(--red);
}

.addTask svg {
  width: 22px;
}
.addTask > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#finish {
  width: 14px;
  height: 14px;
}

.new-time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-time > input {
  width: 30%;
  height: 30px;
  margin: 0.4rem;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.new-time > input::-webkit-outer-spin-button,
.new-time > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.new-time > input[type="number"] {
  -moz-appearance: "textfield";
}
.new-task > form {
  width: 100%;
}
.new-task > form > input {
  width: 100%;
  height: 30px;
  font-size: 14px;
}
.new-task > form > div {
  display: flex;
  justify-content: flex-end;
}
.new-task > form > div > button {
  padding: 0.5rem 0.7rem;
  background-color: var(--dashboard-grey);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
#submit {
  border: none;
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--pirple);
  color: var(--white);
}
.error-container {
  width: 100%;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.7rem 1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1050px) {
  .time,
  .new-time {
    width: 25%;
    margin-right: 3%;
  }
  .task,
  .new-task {
    width: 46%;
    margin-right: 3%;
  }
  .status,
  .new-status {
    width: 25%;
  }
  .one-task p {
    font-size: 15px;
  }
}

@media (max-width: 850px) {
  .tasks {
    width: 100%;
    padding: var(--nav-padding);
  }
  .tasks > h4 {
    text-align: center;
  }
  .labels {
    display: none;
  }
  .time,
  .new-time,
  .new-task,
  .new-status,
  .task,
  .status {
    border: none !important;
    margin: 0;
  }
  .addTask,
  .one-task {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
  }
  .one-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem !important;
  }
  .one-task > div:first-child {
    display: block;
    position: absolute;
    top: -23px;
    left: 10px;
    padding: 0;
  }
  .one-task > div:last-child {
    width: 100%;
    padding: 0.7rem;
  }
  .task,
  .new-task {
    width: 100%;
    text-align: center;
  }
  .one-task .task {
    margin-bottom: 0.5rem;
  }
  .addTask {
    display: flex;
    flex-direction: column;
  }
  .new-time {
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 0 !important;
  }
  .new-time::before {
    content: "Time: ";
    margin-right: 23%;
    font-size: 14px;
    font-weight: 500;
  }
  .new-time > input {
    width: 15%;
  }
  .new-task {
    padding-top: 0 !important;
  }
  .new-status {
    display: none;
  }
  .update-time {
    display: flex !important;
    justify-content: flex-start !important;
    position: static !important;
    padding: 0.7rem 0 0 0.7rem !important;
  }
}

@media (max-width: 550px) {
  .one-task p {
    font-size: 13px;
  }
  .new-task > form > input {
    font-size: 12px;
    padding-left: 0.3rem;
  }
  .new-task > form > div > button {
    font-size: 12px;
  }
  #submit {
    padding: 0.5rem 0.9rem;
  }
}
