.reset-password-page > form {
  padding: var(--nav-padding);
  padding-top: 4rem;
}
.reset-password-page > form > h5 {
  margin-bottom: 1rem;
}
.reset-password-page > form > div > label {
  display: block;
}

.reset-password-page > form > div > input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
}
.reset-password-page > form > div > button {
  border: none;
  background-color: var(--pirple);
  color: var(--white);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.reset-password-page > form > .message-container {
  text-align: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 0.7rem 1rem;
  margin-bottom: 0.5rem;
}
.reset-password-page > form > .message-container > p {
  font-size: 13px;
}
.reset-password-page > form > .message-container > p > a {
  text-decoration: underline;
}
